<p></p><p class="t"></p><p class="r"></p><div></div>
<style>
* {
 background:#F5D6B4}

p {
    width: 60;
    height: 30;
    border: 20px solid#D86F45;
    border-bottom-left-radius: 60px; 
    border-bottom-right-radius: 60px;
    border-top: 0;
    margin:150 62;
}
.t{
    margin:-200 222;}
.r{
  margin: 100 142;
  transform: rotate(180deg);}
div {
    width: 20px;
    height: 20px;
  background:#D86F45;
    margin:-110 62;
  border-radius:50%;
  box-shadow:240px 0px 0#D86F45;
}


<p><p class="t"><p class="r"><div><style>*{background:#F5D6B4}p{width:60;height:30;border:20px solid#D86F45;border-bottom-left-radius:60px;border-bottom-right-radius:60px;border-top:0;margin:150 62}.t{margin:-200 222;}.r{margin:100 142;transform: rotate(180deg);}div{width:20;height:20;background:#D86F45;margin:-110 62;border-radius:50%;box-shadow:240px 0px 0#D86F45