<div></div>
<style>
  *{background:#5d3a3a}
  div {
    width: 200px;
    height: 200px;
    background:#b5e0ba;
    margin: -8
  }
</style>

<p></p><style>*{background:#5d3a3a}p{width:200;height:200;background:#b5e0ba;margin:-8